/* responsive and colored texts */
h1 {
    font-size: 2vw;
    text-align: center;
    color: pink;
}

div {
    font-size: 1.5vw;
    text-align: center;
    color: white;
} 

h2 {
    font-size: 5vw;
    text-align: left;
    color: white;
}

h3 {
    font-size: 4vw;
    text-align: left;
    color: rgba(211, 211, 211, 0.877);
}

h4 {
    font-size: 1.5vw;
    text-align: left;
    color: pink; 
}

h5 {
    font-size: 0.7vw;
    text-align: center;
    color: pink; 
}

h6 {
    font-size: 1vw;
    text-align: center;
    color: rgba(247, 206, 213, 0.973); 
}

.mainContainer {
    margin: 11vw 6vw 1vw 7vw;
}

.note {
  color: #A8A8A8;
  text-align: center;
  font-size: 1vw;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #404040;
}

#fact-container {
  margin-top: 1vw;
  padding-bottom: 3vw;
}

.profile{
    border-radius: 50%;
    width: 30%;
    height: auto;
}

.button {
  background-color: #f2f2f2;
  border: none;
  padding: 0.3vw 0.3vw;
  text-align: center;
  display: inline-block;
  font-size: 1.5vw;
  cursor: pointer;
}

/*smooth scrolling pages*/
html {
  scroll-behavior: smooth;
}

#home {  
  height: 100vh;
  background-image: url("images/road.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

#about {
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: #606060;
}

#projects {
  margin-top: 2vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  /* margin-bottom: 5vw; */
  background-color: #606060;
}

#comments {
  margin-top: 2vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin-bottom: 5vw;
}


/*responsive images*/
img {
  padding: 1vw;
  width: 100%;
  display: block;
}

.responsive {
  width: 50%;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {box-sizing: border-box;}


/* sticky navbar at the bottom */
.navbar {
  width: 100%;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.navbar a {
  font-size: 1vw;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1vw;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 4px solid hotpink;
}

.navbar a.active {
  border-bottom: 4px solid hotpink;
}

a[href*="github.com/"] {
background:url("images/git.png") no-repeat left center;
background-position: center center;
background-size: 80%;
padding-top:2.1vw;
}

/* image/text overlay */
.poster {
  display: block;
  width: 100%;
  height: auto;
}

.posterContainer {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: gray;
}

.posterContainer:hover .overlay {
  opacity: 0.95;
}

.intro {
  position: absolute;
  color: white;
  font-size: 1vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* stack image using grid */
.grid::after {
    content: ' ';
    display: table;
    clear: both;
}

.topItem {
      float: left;
      width: 90%;
      margin-right: -100%;
      position: relative;
      z-index: 1; 
}

.bottomItem {
      float: right;
      width: 75%;
}

/* flex box for main page */
.flexbox {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
}

.flexbox > * {
  padding: 0.5vw;
  flex: 1 100%;
}

.footer {
  color: 		#909090;
  text-align: right;
  font-size: 1vw;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .mid    { flex: 5 0px; }
  .mid    { order: 1; }
  .aside   { order: 2; }
  .footer  { order: 3; }
}

.mainContainer {
  position: relative;
  width: 50%;
}

/* image gallery */

.imgGallery {
  width: 40vw;
  margin: 4vw;
  border: 0.3vw #777 solid;
  float: left;
}

.imgGallery:hover {
  border: 0.3vw #ccc solid;
}

.imgText {
  padding: 1vw;
  text-align: center;
}

/* comment */
#comment-list {
  list-style-type: none;
}

.deleteButton {
  background-color: Transparent;
  border: none;
  outline:none;
  font-size: 0.5vw;
  color: white;  
  cursor: pointer;
}
