h1 {
    font-size: 2vw;
    text-align: center;
    color: pink;
    }
div {
    font-size: 1.5vw;
    text-align: center;
    color: white;
    } 
h2 {
    font-size: 5vw;
    text-align: left;
    color: white;
    }
h3 {
    font-size: 4vw;
    text-align: left;
    color: rgba(211, 211, 211, 0.877);
    }
h4 {
    font-size: 1.5vw;
    text-align: left;
    color: pink; }
.fact {
  color: #909090;
  text-align: center;
  font-size: 1vw;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #404040;
}

#fact-container {
  margin-top: 20px;
}

/*Smooth Scrolling*/
html {
  scroll-behavior: smooth;
}

#home { 
  background-color: #606060;
  height: 100vh;
}

#about {
  background-color: #606060;
}

#projects {
  background-color: #606060;
}


/*image to scale on responsiveness d*/
img {
  padding: 30px;
  width: 100%;
  display: block;
}

.responsive {
  width: 50%;
  height: auto;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {box-sizing: border-box;}


/* sticky navbar at the bottom of the page */
.navbar {
  width: 100%;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

/* format links inside navbar */
.navbar a {
  font-size: 1.5vw;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 20px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 4px solid hotpink;
}

.navbar a.active {
  border-bottom: 4px solid hotpink;
}

.poster {
  display: block;
  width: 100%;
  height: auto;
}

.posterContainer {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: gray;
}

.posterContainer:hover .overlay {
  opacity: 0.9;
}

.intro {
  position: absolute;
  color: white;
  font-size: 1vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.image-stack::after {
    content: ' ';
    display: table;
    clear: both;
  }

  .image-stack__item--top {
      float: left;
      width: 90%;
      margin-right: -100%;
      position: relative;
      z-index: 1; 
  }

  .image-stack__item--bottom {
      float: right;
      width: 75%;
  }

.flexbox {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
}

.flexbox > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  color: 		#909090;
  text-align: right;
  font-size: 1vw;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .mid    { flex: 5 0px; }
  .mid    { order: 1; }
  .aside   { order: 2; }
  .footer  { order: 3; }
}


.mainContainer {
  position: relative;
  width: 50%;
}




